@import url("https://fonts.googleapis.com/css?family=Bitter|Heebo|Montserrat|Roboto");
@import url("https://fonts.googleapis.com/css?family=Jaldi:700");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: -webkit-linear-gradient(left, #f48f1a, #f5c783);
  left: 0;
  right: 0;
  bottom: -10px;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.carousel {
  margin: 50px auto;
  padding: 0 70px;
}

.carousel .item {
  color: #737373;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  text-transform: uppercase;
  color: #f48f1a;
}

.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}

.carousel .carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: #555;
  -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

p {
  line-height: 1.75;
}

a {
  color: #f48f1a;
}

a:hover {
  color: #f5b56d;
}

.text-primary {
  color: #f48f1a !important;
}

h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Montserrat", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h2,
h3 {
  text-align: center;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  margin-top: 1.5em;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-box {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-box .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: #f48f1a;
}

#portfolio .portfolio-item .portfolio-box .portfolio-hover:hover {
  opacity: 0.88;
}

#portfolio
.portfolio-item
.portfolio-box
.portfolio-hover
.portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio
.portfolio-item
.portfolio-box
.portfolio-hover
.portfolio-hover-content
i {
  margin-top: -12px;
}

#portfolio
.portfolio-item
.portfolio-box
.portfolio-hover
.portfolio-hover-content
h3,
#portfolio
.portfolio-item
.portfolio-box
.portfolio-hover
.portfolio-hover-content
h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: "Droid Serif", -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.register {
  background: -webkit-linear-gradient(left, #f48f1a, #f5c783);
  margin-top: 3%;
  padding: 3%;
}

.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register .register-form {
  padding: 10%;
  margin-top: 10%;
}

.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #f48f1a;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #f48f1a;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}

.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
  border: none;
}

.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #f48f1a;
  border: 2px solid #f48f1a;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

.welcome-content {
  text-align: justify;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navigation {
  margin: 1.5em 0;
}

.navbar {
  background: white;
}

.navbar-brand {
  font-family: "Bitter", serif;
  color: black;
  font-size: 1.5em;
}

.navbar-brand:link, .navbar-brand:visited, .navbar-brand:visited {
  text-decoration: none;
}

.navbar-brand:link img, .navbar-brand:visited img, .navbar-brand:visited img {
  height: 4em;
  margin-left: -10px;
}

.navbar-toggler .btn {
  background: -webkit-linear-gradient(left, #f48f1a, #f5c783);
  border-radius: 10px;
  width: 5em;
  font-weight: bold;
  color: white;
}

.nav .nav-item .nav-link {
  color: black;
}

.nav .nav-item .nav-link:link {
  text-decoration: none;
}

.nav .nav-item .nav-link:hover {
  border-bottom: 2px solid #f48f1a;
}

.hero-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))), url("http://www.v-formation.be/wp-content/uploads/2015/12/Teambuilding-June-28-Ghent-22.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3)), url("http://www.v-formation.be/wp-content/uploads/2015/12/Teambuilding-June-28-Ghent-22.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 80vh;
  width: 100vw;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: white;
  width: 100%;
  margin-top: 3em;
}

.hero-text h3 {
  font-size: 2.5em;
  color: white;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.015em;
}

.card-row {
  margin-left: auto;
  margin-right: auto;
}

.card-row .card {
  margin: auto;
  border-radius: 20px;
  border: none;
}

.card-row .card .card:hover {
  background-color: linear-gradient(270deg, #ff5a00 0%, #ff3600 100%);
}

.card-row .card-title h3 {
  font-family: "montserrat", sans-serif;
  letter-spacing: 0.02em;
  font-weight: bold;
}

.card-row .card-text {
  font-family: "Montserrat", sans-serif;
  word-spacing: 0.2em;
}

.fas {
  margin-bottom: 0.3em;
}

.carousel-caption {
  top: 2em;
}

.welcome-content p {
  text-align: justify;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.tinedeck .card-title {
  font-family: "montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.tinedeck .card-text {
  font-family: "montserrat", sans-serif;
}

.welcomespringrid {
  background: #111114;
  margin-top: 4em;
  padding: 3em;
}

.welcomespringrid h2 {
  color: white;
}

.welcomespringrid p {
  color: #737373;
  line-height: 2em;
}

.eventscontainer {
  margin-top: 4em;
  padding: 3em;
}

.eventscontainer h1 {
  margin-bottom: 1em;
}

.cardstylingprice {
  background: -webkit-linear-gradient(left, #f48f1a, #f5c783);
  border: none;
  -webkit-box-shadow: -8px -4px 30px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -8px -4px 30px -8px rgba(0, 0, 0, 0.75);
}

.cardtitleheader,
.reserveerbtn {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Jaldi", sans-serif;
}

.card-body .card-text {
  font-weight: 500;
}

.cardtitleheader,
.reserveerfooterbtn {
  border: none;
}

.reserveerbtn:link, .reserveerbtn:visited {
  text-decoration: none;
}

.reserveerbtn:hover {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid black;
}

.section-subheading-event {
  margin-top: 1.5em;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer {
  background-color: #111114;
}

footer p {
  color: lightslategray;
}

footer h6 {
  color: whitesmoke;
}

footer .posted-date {
  color: #f48f1a;
}

footer .googlemapscol {
  contain: content;
}

footer .mapouter {
  margin: auto;
}

#castle {
  color: #fff;
  font-size: 300%;
}

.register-left #castle {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}
/*# sourceMappingURL=style.css.map */